ReportesQro/Connected Services/srQro/WcfDatosQro4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfDatosQro" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfDatosQro" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfc_Entrega">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="c_Entrega" nillable="true" type="tns:c_Entrega" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfc_Entrega" nillable="true" type="tns:ArrayOfc_Entrega" />
  <xs:complexType name="c_Entrega">
    <xs:sequence>
      <xs:element minOccurs="0" name="cve" type="xs:int" />
      <xs:element minOccurs="0" name="cve_delegacion" type="xs:int" />
      <xs:element minOccurs="0" name="fecha_entrega" type="xs:dateTime" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="num_hojas" type="xs:int" />
      <xs:element minOccurs="0" name="numero" type="xs:int" />
      <xs:element minOccurs="0" name="status" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="c_Entrega" nillable="true" type="tns:c_Entrega" />
</xs:schema>